<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Frases Motivacionais</title>
    <style>
        .button {
             border: none;
             color: white;
             padding: 15px 32px;
             text-align: center;
             text-decoration: none;
             display: inline-block;
             font-size: 16px;
             margin: 4px 2px;
             cursor: pointer;
        }
    </style>
    <script>
        function Evento(){
             alert('Você vai conseguir!')
        }
    </script>
</head>
<body>
    <h1>FRASES MOTIVACIONAIS</h1>
    <p>CLIQUE NO BOTÃO E LEIA UMA FRASE MOTIVACIONAL!</p>
    <div class="container">
        <button class="button" type="button" onclick="Evento()">CLIQUE</button>
    </div>
</body>
</html>